/* *****************************************************
     BAMAT CSS Stylesheet
***************************************************** */

@import url("https://fonts.googleapis.com/css?family=Ubuntu:500,700");

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSiUUniRZcd_wq8DYmIfsw2A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSuXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSo0Uz7fbu6RM5MPetubMKio.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSvzy0yu4vcvNhe7QLuoE8rU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSs9-ZSaZ3mOOsU9E1f6DGWc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSoZI5FoslwusAsZHK_V0XCI.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* General */
body {
    background-color: #fff;
	color: #38334D;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 600;
}

h2 {
	font-size: 22px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

ul {
	margin-bottom: 0;
}

.container-fluid {
  padding: 0;
}

.row {
	margin: 0;
}

.progress.reverse .progress-bar.active {
  -webkit-animation-direction: reverse;
     -moz-animation-direction: reverse;
      -ms-animation-direction: reverse;
       -o-animation-direction: reverse;
          animation-direction: reverse;
}

@media only screen and (min-width: 1140px) {
	.container {
		width: 1030px;
	}
}

@media only screen and (min-width: 990px) and (max-width: 1139px) {
	.container {
	  width: 910px;
	  padding: 0;
	}
}

@media only screen and (max-width: 989px) {
	.container {
		margin-left: 10px;
		margin-right: 10px;
	}
}

/* Header */
header {
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2000;
}

header,
header a {
	color: #74739B;
}


header ul {
	padding-left: 0;
}

header a:hover {
	color: #383C70;
}

.social-wrap {
	box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.top-menu-wrap {
	height: 30px;
}

.social-bookmarks {
	height: 100%;
	margin-left: -9px;
	float: left;
}

.social-bookmarks li {
	list-style-type: none;
	height: 100%;
	display: block;
	float: left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-right: 1px solid #e1e1e1;
	width: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
}

.social-link {
	font-family: 'entypo-fontello';
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.social-link-facebook:before {
	content: '\e8f3';
}
.social-link-facebook:hover {
	background-color: #37589b;
}

.social-link-twitter:after {
	content: '\e8f1';
}

.social-link-twitter:hover {
	background-color: #46d4fe;
}

.social-bookmarks .social-link-google {
	border-right: 0;
}

.social-link-google:before {
	content: '\e8f6';
}

.social-link-google:hover {
	background-color: #de5a49;
}

.top-menu {
	padding: 9px 0 0 0;
	float: right;
}

.top-menu li {
	list-style-type: none;
	display: block;
	float: left;
	border-right: 1px solid #e1e1e1;
	font-size: 11px;
	font-weight: bold;
	padding: 0 10px;
}

.top-menu li a {
	padding-bottom: 10px;
}

.top-menu .last {
	padding-right: 0;
	border-right: 0;
}

.phone {
	font-size: 11px;
	font-weight: bold;
	padding: 5px 0;
	float: right;
}

.phone span {
	border-right: 1px solid #e1e1e1;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	display: inline-block;
}

.main-menu-wrap {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.main-menu-row .logo {
	padding: 5px 0;
}

.main-menu li {
	list-style-type: none;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 600;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: relative;
}

.main-menu > li.current,
.main-menu > li:hover {
	-webkit-box-shadow: inset 0px -8px 0px 0px #224591;
	-moz-box-shadow: inset 0px -8px 0px 0px #224591;
	box-shadow: inset 0px -8px 0px 0px #224591;
}

.main-menu > li > a {
	padding: 0 13px;
	line-height: 88px;
	display: block;
}

.main-menu a:hover {
	text-decoration: none;
}

.main-menu li:hover > .sub-menu {
	display: block;
	position: absolute;
}

.sub-menu {
	display: none;
	border-top: 2px solid #224591;
	margin-top: -1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 15px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 15px 0px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 15px 0px;
	white-space: nowrap;
	background-color: #fff;
	z-index: 1;
}

.sub-menu li {
	float: none;
}

.sub-menu li > a{
	line-height: 23px;
	padding: 8px 15px;
	height: auto;
	display: block;
}

.sub-menu .divider {
	border-bottom: 1px solid #e1e1e1;
	height: 1px;
}

.toggle {
	height: 35px;
	width: 35px;
	border-radius: 2px;
	border: 1px solid #e1e1e1;
	font-family: 'entypo-fontello';
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #74739B;
	margin-top: 4px;
	background-color: #fff;
	display: block;
	float: right;
}

.toggle:hover {
	text-decoration: none;
	background-color: #224591;
	color: #fff;
}

#menu-toggle {
	display: none;
}

#menu-toggle:before {
	content: '\e8a5';
}

.menu-toggle-close-wrap {
	display: none;
	height: 89px;
	border-bottom: 1px solid #e1e1e1;
}

#menu-toggle-close {
	margin-right: 23px;
	margin-top: 23px;
}

#menu-toggle-close:before {
	content: '\e814';
}

.main-menu-box {
	display: block;
}

@media only screen and (max-width: 1024px) {
	.logo img {
		height: 34px;
		width: 106px;
	}
	
	.main-menu > li > a {
		line-height: 44px;
	}
	
}

@media only screen and (max-width: 768px) {
	header {
		position: static;
	}
	
	.top-menu-wrap {
		height: auto;
	}

	.social-bookmarks {
		float: none;
		text-align: center;
	}
	
	.social-bookmarks li {
		display: inline;
		float: none;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
	}
	
	.social-link-facebook {
		border-left: 1px solid #e1e1e1;
	}
	
	.social-bookmarks .social-link-google {
		border-right: 1px solid #e1e1e1;
	}
	
	.top-menu {
		float: none;
		text-align: center;
	}
	
	.top-menu li {
		display: inline;
		float: none;
	}

	.phone {
		float: none;
		text-align: center;
	}

	.phone span {
		border-right: 0;
	}
	
	#menu-toggle {
		display: block;
	}

	.main-menu-box {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
		display: none;
	}
	
	.menu-toggle-close-wrap {
		display: block;
	}
	
	.main-menu-box li {
		display: block;
		float: none;
	}
	
	.main-menu > li.current,
	.main-menu > li:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: #14124F;
	}

	.main-menu > li.current > a,
	.main-menu > li:hover > a {
		color: #fff;
	}

	.main-menu-box li a {
		padding: 13px 28px;
		border-bottom: 1px solid #e1e1e1;
		line-height: 26px !important;
		font-size: 16px;
		color: #38334d;
	}
	
	.sub-menu {
		width: 100%;
		display: block;
		border-top: 0;
		margin: 0;
		box-shadow: none;
	}
	
	.main-menu li:hover > .sub-menu {
		position: static;
	}
	
	.sub-menu li a {
		padding-left: 50px;
	}

	.sub-menu > li.current,
	.sub-menu > li:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: #14124F;
	}

	.sub-menu > li.current > a,
	.sub-menu > li:hover > a {
		color: #fff;
	}
	
	.sub-menu .divider {
		display: none;
	}
}

/* Footer */
footer { /* stick footer to the bottom */
	width: 100%;
	bottom: 0;
	position: fixed;
}

.content footer .container {
	padding: 0;
}

.footer-wrap {
	background-color: #36393d;
	color: #a7abb1;
	font-size: 11px;
}

.footer-row {
	padding: 15px 0;
	line-height: 26px;
}

.footer-row a {
	color: #fff;
}

.footer-row select {
	color: #000;
}

/* Content Area */
.page-section-grey {
	background-color: #e8e8e8;
	border-top: 1px solid #e1e1e1;
}

.content .container {
	padding: 40px 0;
}

.page-header {
	border: 0;
}

.table thead {
	border: 0;
}

.table thead tr {
	background-color: #25235F;
}

.table th {
	border-left: 1px solid #e1e1e1;
}

.table tr th:first-child {
	border-left: 0;
}

.table th:last-child {
	border-radius: 0 5px 0 0;
}

.table th:first-child {
	border-radius: 5px 0 0 0;
}

.table > thead > tr > th {
	border-bottom: 0;
}

.table thead a,
.table thead th {
	color: #fff;
	line-height: 26px;
	font-weight: normal;
}

.table tbody {
	font-size: 14px;
}

.table td {
	border-left: 1px solid #ddd;
}

.table tr td:first-child {
	border-left: 0;
}

.table .headerSortasc a,
.table .headerSortdesc a {
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
}

.table .headerSortasc a:before,
.table .headerSortdesc a:before {
	color: #fff;
	font-family: 'Glyphicons Halflings';
	margin-right: 3px;
	font-size: 12px;
	display: inline-block;
}

.table .headerSortasc a:hover:before,
.table .headerSortdesc a:hover:before {
	text-decoration: none;
}

.table .headerSortasc a:before {
	content: '\e113';
}

.table .headerSortdesc a:before {
	content: '\e114';
}

.cell-menu {
	margin-top: 0;
	border-radius: 0;
	line-height: 23px;
	border-top: 2px solid #224591;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 15px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 15px 0px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 8px 15px 0px;
	font-size: 13px;
	font-weight: 600;
	padding: 0;
}

.cell-menu > li {
	padding: 8px 15px;
}

.cell-menu > li > a {
	color: #74739B;
	padding: 0;
}

.cell-menu > li > a:hover,
.cell-menu > li > a:focus {
	color: #74739B;
	background-color: #fff;
	color: #383C70;
}

.cell-menu .divider {
	border-bottom: 1px solid #e1e1e1;
	height: 1px;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

@media only screen and (min-width: 768px) {
	#whmcsheader {
		padding-top: 120px;
	}
}

/* Form Elements */
.btn {
	margin: 0;
	border-radius: 3px;
	border: 0;
	font-weight: normal;
	font-size: 13px;
	outline: 0;
	padding: 12px 16px 10px 16px;
	min-width: 90px;
	background-color: #14124F;
	color: #ffffff;
	line-height: 15px;
}

.btn.dropdown-toggle {
	min-width: 0;
}

.btn:hover,
.btn:focus {
	color: #ffffff;
	background-color: #992626;
	border: 0;
}

input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active {
	outline: 0 !important;
	outline-style: none !important;
	outline-width: 0 !important;
}

.btn-primary {
	background: #4889d1;
}

.btn-success {
	/* background-color: #449d44; */
	background-color: #216C2A;
}

.button-row .btn {
	margin-right: 20px;
}

.button-row .btn:last-child {
	margin-right: 0;
}

input[type="text"],
input[type="number"],
input[type="password"] {
	border: 1px solid #e1e1e1;
	background-color: #fcfcfc;
	color: #828084;
	border-radius: 2px;
	font-size: 13px;
	padding: 0 13px;
	line-height: normal;
	height: 34px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="number"] {
	padding-right: 0;
}

input[type="text"]:focus,
input[type="password"]:focus {
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
	height: auto;
}

select {
	border: 1px solid #e1e1e1;
	border-radius: 2px;
	background-color: #fcfcfc;
	color: #828084;
	padding: 8px 13px 7px 13px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

label {
	font-size: 12px;
	margin-bottom: 7px;
}

.radio,
.checkbox {
	margin-top: 0;
	margin-bottom: 7px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-left: 0;
}

.logincontainer input {
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	.button-row .btn,
	.button-row .btn:last-child{
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
}

/* Login/Register/Password forms... */
.logincontainer {
	text-align: center;
}

#register-form input[name="code"] {
	width: inherit;
}

.rememberme strong {
	font-size: 12px;
	line-height: normal;
}

.form-actions {
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-horizontal input[type="text"],
.form-horizontal input[type="password"],
.form-horizontal select {
	width: 80%;
}

.form-horizontal .col-md-12 input,
.form-horizontal .col-md-12 textarea,
.form-horizontal .col-md-12 select {
	width: 90.5%;
}

.form-horizontal .col-md-12 textarea {
	border: 1px solid #e1e1e1;
	background-color: #fcfcfc;
	color: #828084;
	border-radius: 2px;
	font-size: 13px;
	padding: 13px;
	line-height: normal;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (max-width: 992px) {
	.form-horizontal input[type="text"],
	.form-horizontal input[type="password"],
	.form-horizontal select,
	.form-horizontal textarea,
	.form-horizontal .col-md-12 input,
	.form-horizontal .col-md-12 textarea,
	.form-horizontal .col-md-12 select {
		width: 100%;
	}
}

.checkbox input[type="checkbox"] {
	margin-left: 0;
	position: static;
}

.form-horizontal input[type="checkbox"] {
	width: auto;
}

@media (min-width: 992px) {
	#submitticket .col-md-4 {
		width: 32.33333%;
	}
}

#pwstrengthbox {
	width: 80%;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	font-size: 13px;
	padding: 9px 13px 8px 13px;
	line-height: normal;
	font-style: italic;
	color: #828084;
	text-align: center;
}

#pwstrengthbox.weak,
#pwstrengthbox.moderate,
#pwstrengthbox.strong {
	color: #fff;
	font-style: normal;
}

#pwstrengthbox.weak {
	background-color: #cc0000;
	border-color: #9D0000;
}

#pwstrengthbox.moderate {
	background-color: #ff6600;
	border-color: #C44F00;
}

#pwstrengthbox.strong {
	background-color: #33CC00;
	border-color: #289F00;
}

.searchbox .btn {
	margin-left: 5px;
}

.searchbox {
	margin-bottom: 20px;
	text-align: right;
}

/* Other Elements */
.get-in-box-desc {
	min-height: 90px;
}

#languagechooser select {
	padding: 5px;
}

.nav-tabs {
	margin-bottom: 20px;
}

.nav-tabs > li > a {
	border-radius: 3px 3px 0 0;
}

.pagination > li > a,
.pagination > li > span {
	color: #74739B;
}

.recordslimit,
.resultsbox {
	font-size: 12px;
	margin-bottom: 7px;
	font-weight: bold;
}

.recordslimit {
	text-align: right;
}

.alert {
	border-radius: 3px;
}

.glyphicon {
	margin-right: 5px;
	font-size: 12px;
}

.whmcscontainer table .headerSortasc {
	background-color: 
}

#languagechooser {
	float: left;
}

#copyright {
	float: right;
}

.domcheckertldselect {
	text-align: left;
}

.breadcrumbnav {
	font-size: 14px;
}

@media only screen and (max-width: 768px) {
	#languagechooser,
	#copyright {
		float: none;
	}
}

/* Domain search */
.wrap_domain {
	margin-bottom: 20px;
	text-align: left;
}

.wrap_domain .dc_form {
	padding: 20px 20px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	border-radius: 5px;
	display: inline-block;
}

.wrap_domain form input,
.wrap_domain form select,
.wrap_domain form .dc_captcha {
	margin: 0 10px;
}

.wrap_domain form .btn {
	margin: 0 5px;
	padding: 9px 16px;
}

.wrap_domain form #domain{
	width: 210px;
}

.wrap_domain form .dc_captcha_input {
	width: 80px;
	margin-left: 2px;
}

.wrap_domain .button-row {
	display: inline-block;
	margin-left: 20px;
}

.wrap_domain .captcha_wrap {
	margin-bottom: 20px;
	overflow: hidden;
}

.wrap_domain .captcha {
	float: left;
}

.wrap_domain .captchaverify {
	float: left;
	font-size: 14px;
	max-width: 420px;
	margin-left: 20px;
}

.wrap_domain .dc_wrap_elements {
	display: block;
	float: left;
}

.domainregtitle {
	text-align: left;
}

.wrap_domain .domcheckertldselect {
	margin-top: 30px;
}

.dc_form_white {
	background-color: #fff;
}

#whmcsorderfrm .wrap_domain  .dc_add_form input[type="text"] {
    width: 180px;
}

.wrap_domain .dc_wrap_elements {
	white-space: nowrap;
}

@media only screen and (max-width: 990px) {
	.wrap_domain .button-row {
		display: block;
		float: none;
		margin-left: 0;
	}

	.wrap_domain .button-row .btn {
		margin: 10px auto 0 auto;
	}
	
	.wrap_domain .dc_wrap {
		display: block;
		float: none;
	}
	
	.wrap_domain .dc_wrap #dc_domain {
		width: 100%;
		margin: 0;
	}
	
	.wrap_domain .captcha_wrap {
		text-align: center;
	}
	
	.wrap_domain .captcha {
		margin: 0 auto;
		float: none;
	}

	#whmcsorderfrm .wrap_domain .dc_add_form .btn {
		display: block;
		float: none;
		margin: 0;
		width: 100%;
	}

	.wrap_domain .dc_add_form input[type="text"],
	.wrap_domain .dc_add_form select {
		margin-bottom: 10px;
	}
	
	.wrap_domain .dc_add_form input[type="text"]:nth-child(2),
	.wrap_domain .dc_add_form select {
		margin-right: 0;
	}
}

@media only screen and (max-width: 767px) {
	.wrap_domain .dc_add_form span {
		text-align: right;
	}
	
	.wrap_domain .dc_wrap_elements {
		text-align: center;
	}

	.wrap_domain .dc_add_form span,
	#whmcsorderfrm .wrap_domain .dc_add_form input[type="text"],
	#whmcsorderfrm .wrap_domain .dc_add_form select {
		width: 32%;
	}
	
	.wrap_domain .dc_add_form #domainowndomain span,
	#whmcsorderfrm .wrap_domain .dc_add_form #domainowndomain input[type="text"],
	#whmcsorderfrm .wrap_domain .dc_add_form #domainowndomain select {
		width: 24%;
	}
}

/* Domain check table */
#dc_table {
	border: 0;
}

#dc_table .dc_tr_btn {
	border: 0;
	background-color: transparent;
}

#dc_table .dc_fail {
	background-color: rgba(255, 188, 188, 0.2);
}

#dc_table .dc_fail:hover {
	background-color: rgba(255, 188, 188, 0.5);
}

#dc_table .dc_not_checked {
	background-color: rgba(150, 188, 228, 0.2);
}

#dc_table .dc_not_checked:hover {
	background-color: rgba(255, 188, 188, 0.5);
}

#dc_table .dc_success {
	background-color: rgba(204, 238, 144, 0.2);
}

#dc_table .dc_success:hover {
	background-color: rgba(204, 238, 144, 0.5);
}

#dc_table .dc_tr_btn th,
#dc_table .dc_tr_btn th:last-child {
	border: 0;
	text-align: center;
}

#dc_table .dc_tr_head {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#dc_table .dc_tr_head {
	background-color: transparent;
}

.table thead tr.dc_tr_head th {
	background-color: #25235F;
}

#dc_table .dc_tr_head th:first-child {
	border-top-left-radius: 5px;
}

#dc_table .dc_tr_head th:last-child {
	border-top-right-radius: 5px;
}

#dc_table th {
	border-left: 1px solid #e1e1e1;
	text-align: center;
}

#dc_table .dc_tr_btn .dc_th_price {
	color: #333;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
}

#dc_table tr th:last-child{
	border-right: 1px solid #e1e1e1;
}

#dc_table tr td {
	border-left: 1px solid #ddd;
	text-align: left;
	cursor: pointer;
}

#dc_table tr td:first-child {
	border-left: 1px solid #ddd;
}

#dc_table tr td:last-child{
	border-right: 1px solid #ddd;
}

#dc_table tbody tr:last-child td {
	border-bottom: 1px solid #ddd;
}

#dc_table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

#dc_table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

#dc_table .dc_td_name {
	font-weight: bold;
}

#dc_table .dc_td_status {
	text-align: center;
}

#dc_table .dc_status_sign {
	display: inline-block;
	width: 16px;
	height: 16px;
}

#dc_table .dc_td_price,
#dc_table .dc_td_setup {
	text-align: right;
	white-space: nowrap;
}

#dc_table .dc_td_setup span {
	display: none;
}

#dc_table .dc_success .dc_status_sign {
	background: url(../img/success.png) no-repeat;
}

#dc_table .dc_fail .dc_status_sign {
	background: url(../img/fail.png) no-repeat;
}
#dc_table .dc_not_checked .dc_status_sign {
	background: url(../img/smile.gif) no-repeat;
}

#dc_table th label,
#dc_table .dc_td_check label {
	font-size: inherit;
	font-weight: normal;
	margin-bottom: 0;
}

#dc_table #dc_check_all label {
	cursor: pointer;
}

#dc_table .dc_td_name {
	font-weight: bold;
}

#dc_table select {
	padding-top: 3px;
	padding-bottom: 3px;
}

#domainresults .dc_price_info {
	margin: 0 0 10px 0;
	font-size: 14px;
	text-align: left;
}

@media only screen and (max-width: 640px) {
	#dc_table {
		margin: 0 auto;
		width: 90%;
	}
	
	#dc_table .dc_tr_head {
		display: none;
	}
	
	#dc_table tr,
	#dc_table td,
	#dc_table th {
		display: block;
	}
	
	#dc_table tr td {
		border-right: 1px solid #e1e1e1;
		text-align: center;
	}
	
	#dc_table tbody tr:last-child td {
		border-bottom: 0;
	}

	#dc_table tbody tr td:first-child {
		background-color: #36346F;
		color: #fff;
	}

	#dc_table tbody tr:first-child td:first-child{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#dc_table tbody tr:last-child td:first-child{
		border-bottom-left-radius: 0;
	}

	#dc_table tbody tr:last-child td:last-child{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom: 1px solid #e1e1e1;
	}

	#dc_table .dc_td_setup {
		text-align: center;
	}
	
	#dc_table .dc_td_setup span {
		display: inline;
	}

	#dc_table .dc_td_price {
		font-weight: bold;
		text-align: center;
	}
	
	#dc_table .dc_td_check {
		font-weight: bold;
	}
	
}

/* Bamat Domain Checker */
#dc_preloader {
	text-align: center;
	padding: 40px 20% 40px 20%;
}

#dc_preloader .progress {
	height: 15px;
	width: 220px;
	margin: 0 auto 20px auto;
}

#dc_preloader .progress-bar {
	background-color: #8887A9; /* #74739b; */
}

#domain_check {
	display: none;
}

.dc_embedded #domain_check .dc_search {
	text-align: left;
}

#domain_check .searchdomains {
	margin-bottom: 20px;
	margin-right: 20px;
}

#domain_check .dc_form {
	display: inline-block;
	margin: 0;
	padding: 20px 20px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	border-radius: 5px;
	background-color: #fff;
}

#domain_check .dc_form .dc_form_elements {
	border: 0;
	float: left;
	margin: 0 5px;
}

#domain_check .dc_form .dc_form_elements td {
	padding: 5px;
	border: 0;
	text-align: center;
}

#domain_check .dc_form .dc_form_elements .text-center img {
}

#domain_check .dc_form .dc_form_elements .captcha_row {
	padding-top: 10px;
}

#domain_check .dc_form .dc_form_elements .captcha_desc_row {
	padding-top: 10px;
	font-size: 12px;
}

#domain_check .dc_form .dc_form_elements .captcha_desc {
	width: 340px;
}

#domain_check .dc_form label {
	font-size: 15px;
	padding-top: 11px;
	display: block;
	float: left;
}

#domain_check .dc_form input[type="text"],
#domain_check .dc_form select {
	color: #333;
	padding-left: 6px;
	padding-right: 6px;
	height: 34px;
}

#domain_check .dc_form #dc_captcha {
	width: 130px;
}

#domain_check .dc_form input[type="text"] {
	width: 180px;
}

#domain_check .dc_form .btn_wrap {
	float: left;
	padding-top: 5px;
}

#domain_check .dc_form .btn {
	padding: 9px 22px;
	line-height: normal;
	margin-left: 0;
}

#domain_check .dc_user_info {
	display: inline-block;
}

#domain_check .dc_user_info a {
	color: #14124f;
	text-decoration: underline;
}

#domain_check .dc_user_info a:hover {
	color: #992626;
}

@media only screen and (max-width: 767px) {
	#domain_check .dc_form .dc_form_elements {
		margin: 0;
	}

	#domain_check .dc_form label {
		float: none;
		clear: both;
		text-align: center;
	}
	
	#domain_check .dc_form .btn_wrap {
		float: none;
		clear: both;
	}

	#domain_check .dc_form .btn_wrap .btn {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
 	#domain_check .dc_form_elements tr {
		display: block;
		width: 100%;
	}
	
	#domain_check .dc_form_elements tbody {
		display: block;
	}
	
	#domain_check .dc_form_elements td {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}

	#domain_check .dc_form {
		width: 100%;
		display: block;
	}
	
	#domain_check .dc_form .dc_form_elements {
		display: block;
		width: 100%;
		float: none;
		clear: both;
	}

	#domain_check .dc_form_elements td input[type="text"],
	#domain_check .dc_form_elements td select,
	#domain_check .dc_form_elements td #dc_captcha,
	#domain_check .dc_form .dc_form_elements .captcha_desc {
		width: 100%;
		margin: 0;
	}
}

/* Tickets */
.ticket-buttons #ticket-reply-top,
.ticket-buttons #ticket-reply-bottom,
.ticket-buttons #ticket-close-top,
.ticket-buttons #ticket-close-bottom {
	float: right;
	margin-left: 10px;
}

.ticket-msg {
	overflow: hidden;
}

.ticket-msg-author-wrap {
	width: 15%;
	text-align: center;
	font-size: 14px;
	margin-top: 5px;
}

.ticket-msg-admin .ticket-msg-author-wrap {
	float: right;
}

.ticket-msg-client .ticket-msg-author-wrap {
	float: left;
}

.ticket-text-wrap {
	width: 82%;
}

.ticket-text {
	border: 1px solid #e1e1e1;
	min-height: 80px;
	padding: 10px;
	background-color: #fcfcfc;
	color: #38334D;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	position: relative;
}

.ticket-msg-admin .ticket-text-wrap {
	float: left;
	margin-right: 3%;
}

.ticket-msg-client .ticket-text-wrap {
	float: right;
	margin-left: 3%;
}

.ticket-text:before {
	content: " ";
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	border-radius: 2px;
	background-color: #fcfcfc;
	position: absolute;
}

.ticket-msg-admin .ticket-text:before {
	box-shadow: inset 0 1px 1px -2px rgba(0, 0, 0, .075);
	border-right: 2px solid #e1e1e1;
	border-top: 2px solid #e1e1e1;
	right: -7px;
	top: 12px;
}

.ticket-msg-client .ticket-text:before {
	box-shadow: inset 0 1px 1px -2px rgba(0, 0, 0, .075);
	border-left: 2px solid #e1e1e1;
	border-bottom: 2px solid #e1e1e1;
	left: -7px;
	top: 12px;
}

.ticket-msg-author {
	font-weight: bold;
	color: #383C70;
}

.ticket-msg-position {
	font-style: italic;
	font-size: 13px;
}

.ticket-msg-date {
	font-weight: bold;
	font-size: 13px;
	color: #828084;
}

.ticket-attachments {
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.ticket-attachments-title {
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.ticket-attachments-files {
	float: left;
}

.ticket-rating {
	float: right;
	margin-top: 5px;
}

.ticket-rating span {
	display: inline-block;
}

.ticket-rating-caption {
	font-size: 14px;
	line-height: normal;
}

.ticket-rating-stars,
.ticket-rating-stars-active {
	white-space: nowrap;
	line-height: normal;
}

.ticket-rating-img,
.ticket-rating-img-active {
	width: 16px;
	height: 16px;
}

.ticket-rating-img-active {
	cursor: pointer;
}

.ticket-rating-pos {
	background: url(../img/rating_pos.png) no-repeat;
}

.ticket-rating-neg {
	background: url(../img/rating_neg.png) no-repeat;
}

.ticket-rating-mark-pos,
.ticket-rating-mark-neg {
	font-weight: bold;
	cursor: pointer;
}

/* Change EPP/Authcode form */
#dc_epp_form input[type="text"] {
	width: 100%;
}

#dc_epp_form .control-label {
	text-align: left;
	font-size: 16px;
}

#dc_epp_form .control-label .epp_desc {
	font-weight: normal;
}