/*
Global
*/

#order-comparison {
    margin: 0;
    padding: 20px 0;
}

#order-comparison h1 {
    margin: 0 0 20px;
    text-align: center;
}

#order-comparison h2 {
    font-weight: normal;
    border: 0;
    margin: 0;
}

#order-comparison .center80 {
    margin: 0 auto;
    width: 80%;
}

#order-comparison .textcenter {
    text-align: center;
}

#order-comparison .textright {
    text-align: right;
}

#order-comparison .clear {
    clear: both;
}

#order-comparison .errorbox {
    margin:0 0 10px;
    padding:10px;
    font-weight: bold;
    background-color:#FFB0B0;
    color:#fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
#order-comparison .errorbox ul {
    margin: 5px 20px;
}
#order-comparison .errorbox ul li {
    font-weight: normal;
    text-align: left;
    color:#7F0000;
}

#order-comparison table tr td {
    padding: 3px;
    border-bottom: 1px solid #ccc;
}

#order-comparison .cartcontainer {
    border: 2px solid #efefef;
    background-color: #fff;
    background-image: url('../images/bg.png');
    background-repeat:repeat-x;
    width: 600px;
    padding: 15px;
    margin: 0 auto;
}

#order-comparison .cartcontainer table tr td {
    padding: 2px;
    border-bottom: 0;
}

#order-comparison table.centertext tr td {
    text-align: center;
}

#order-comparison .domainoptions div {
    margin: 2px 20px;
}

#order-comparison table.carttable tr.summary td {
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    color: #222222;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
}

#order-comparison table.carttable {
    background-color: #fff;
    width: 100%;
    padding-bottom: 10px;
}

#order-comparison table.carttable tr td {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 4px;
}

#order-comparison .textgreen {
    color: #779500;
}
#order-comparison .textred {
    color: #cc0000;
}

#order-comparison .cartbutton.green {
    color:#529214;
}
#order-comparison .cartbutton.red {
    color:#d12f19;
}






.loading {
    display: none;
    padding-top: 20px;
    text-align: center;
}

#orderfrm input,#orderfrm select,#ccinputform input,#ccinputform select {
    border: 1px solid #ccc;
    padding: 4px;
}

.errorbox {
    text-align: left;
    list-style-type: none;
}



/*
Steps
*/
.bamatsteps {
	max-width: 600px;
	margin: 0 auto;
	height: 100px;
	position: relative;
	padding-top: 20px;
}

#order-comparison .bamatsteps hr {
	border: 3px solid #74739B;
	height: 0;
	border-radius: 4px;
	margin-top: 13px;
}

.bamatsteps .progress {
	height: 10px;
}

.bamatsteps .progress-bar {
	background-color: #74739b;
}

.stepwrap {
	position: absolute;
	top: 0;
	margin-top: 7px;
	background-color: transparent;
	text-align: center;
	color: #74739B;
}

.stepwrap .stepbox {
	width: 40px;
	height: 40px;
	border: 3px solid #74739B;
	border-radius: 50%;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.stepwrap .stepbox span{
	margin: 0;
	line-height: 33px;
	font-size: 16px
}

.stepwrap .step_label {
	display: block;
	margin: 0 auto;
	font-weight: bold;
	font-size: 12px;
	margin-top: 5px;
}

.stepwrap.current {
	margin-top: 0;
}

.stepwrap.current .stepbox {
	width: 50px;
	height: 50px;
	margin-top: 0;
	border-radius: 5px;
}

.stepwrap.current .step_label {
	font-size: 16px;
}

.stepwrap.current .stepbox span{
	line-height: 41px;
	font-size: 20px
}

.stepwrap.current .stepbox .step_label {
	font-size: 14px;
}

#step_domain {
	left: 0;
}

#step_options {
	left:0;
    right:0;
}

#step_checkout {
	right: 0;
}

@media only screen and (max-width: 640px) {
	.stepwrap .step_label {
		display: none;
	}
}

/*
Categories
*/

#order-comparison .cartcats {
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 0;
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

#order-comparison .cartcats a {
    color: #000;
}

#order-comparison .domainregtitle {
    font-size: 14px;
}

/*
Product Listing
*/

#order-comparison .currencychooser {
    float: right;
    margin: 0 20px 10px 0;
    padding: 5px 5px 5px 10px;
    background-color: #F8F7ED;
    border: 1px solid #F4E3A2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Verdana;
}

#order-comparison .currencychooser a {
    text-decoration: none;
    padding-right: 5px;
    color: #000;
}

#order-comparison .currencychooser a:hover {
    color: #0066CC;
}

#order-comparison .prodtablecol {
    float: left;
    width: 20%;
    font-size: 14px;
    text-align: center;
	vertical-align: top;
}

#order-comparison .prodtablecol .title {
    font-size: 16px;
    font-weight: bold;
}

#order-comparison .prodtablecol .divider {
    height: 1px;
    background-color: #fff;
}

#order-comparison .prodtablecol div.featureheader {
    padding: 10px 0 10px 0;
    height: 34px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.feature {
    background-color: #666;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.aheader {
    background-color: #204791;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 12px;
    height: 34px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.aheaderexpandable {
    background-color: #204791;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 12px;
    min-height: 55px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.afeaturedesc1 {
    padding: 5px;
    background-color: #EAF2F7;
    min-height: 140px;
    line-height: 20px;
    color: #204791;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.afeature1 {
    background-color: #EAF2F7;
    line-height: 30px;
    color: #204791;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.afeature2 {
    background-color: #CEE1EC;
    line-height: 30px;
    color: #204791;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.bheader {
    background-color: #7BAA24;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 12px;
    height: 34px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.bheaderexpandable {
    background-color: #7BAA24;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 12px;
    min-height: 55px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.bfeaturedesc1 {
    padding: 5px;
    background-color: #F0F7EA;
    min-height: 140px;
    line-height: 20px;
    color: #668C1E;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.bfeature1 {
    background-color: #F0F7EA;
    line-height: 30px;
    color: #668C1E;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#order-comparison .prodtablecol div.bfeature2 {
    background-color: #DFEED2;
    line-height: 30px;
    color: #668C1E;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/*
Addons
*/

#order-comparison .addoncontainer {
    float: left;
    width: 50%;
}

#order-comparison .addon {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

#order-comparison .addon:hover {
    background-color: #FFF9E6;
}

#order-comparison .addon .title {
    float: left;
    padding: 0 0 6px 0;
    font-size: 16px;
    color: #555;
}

#order-comparison .addon .pricing {
    float: right;
    padding: 0 0 6px 0;
    text-align: right;
    font-size: 14px;
    color: #cc0000;
}

#order-comparison .addon .setup {
    font-size: 12px;
}

#order-comparison .addon .product {
    padding-top: 6px;
    text-align: right;
}

#order-comparison .addon select {
    padding: 3px;
    border: 1px solid #ccc;
    width: 180px;
}

/*
Domain Registration
*/

#order-comparison .domainreginput {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

#order-comparison .domainreginput input {
    font-size: 14px;
    border: 1px solid #ccc;
}

#order-comparison .domainreginput select, .domainregperiod select {
    font-size: 13px;
    padding: 3px;
    border: 1px solid #ccc;
}

#order-comparison .domainavailable {
    color: #9AC003;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

#order-comparison .domainunavailable {
    color: #cc0000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

#order-comparison .domaininvalid {
    color: #cc0000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

#order-comparison .domainregperiod {
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

#order-comparison div.domainsuggestions {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 5px;
    margin-top: 15px;
}

/*
Product Config
*/

#order-comparison .billingcycle {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

#order-comparison .serverconfig {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

#order-comparison .configoptions {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

#order-comparison .addons {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

#order-comparison .customfields {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

/*
Domain Config
*/

#order-comparison .domainconfig {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

#order-comparison .nameservers {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
}

#whmcsorderfrm .dc_user_info p {
	margin: 0;
}

/*
Config Tables
*/

#order-comparison .configtable td {
    padding: 2px 5px 2px 5px;
}

#order-comparison .configtable td.fieldlabel {
    width: 150px;
    text-align: right;
}

#order-comparison .configtable td.radiofield {
    width: 30px;
    text-align: right;
}

#order-comparison .configtable td.fieldarea {
    background-color: #f2f2f2;
    border-bottom: 1px solid #fff;
    text-align: left;
}

#order-comparison .configoplabel {
    color: #ff6600;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

#order-comparison .addons {
	border: 0;
}

#order-comparison .customfields {
	border: 0;
}

/*
Order Summary
*/

#order-comparison .ordersummary {
    margin: 15px;
}

#order-comparison .totalduetoday {
    text-align: right;
    font-size: 20px;
    color: #cc0000;
}

#order-comparison .totalrecurring {
    text-align: right;
    font-size: 14px;
    color: #000066;
}

#order-comparison .checkoutbuttonsleft {
    float: left;
    margin: 5px 0 0 0;
}

#order-comparison .checkoutbuttonsright {
    float: right;
    margin: 5px 0 0 0;
}

/*
Checkout
*/

#order-comparison .promo {
    text-align: right;
	margin-top: 20px;
}

#order-comparison .gatewaycheckout {
    margin: 10px 0 0 0;
    text-align: center;
}

#order-comparison .viewcartcol1 {
    float: left;
    margin-top: 10px;
    width: 55%;
}

#order-comparison .viewcartcol2 {
    float: left;
    margin-top: 10px;
    width: 45%;
}

#order-comparison .paymentmethods {
    padding-left: 20px;
}

#order-comparison .checkoutsecure {
    text-align: left;
    margin: 20px 0 10px 0;
}

#order-comparison #domaincontactfields {
    display: none;
}

/*
BAMAT cart style changes
*/

#order-comparison {
	padding: 0;
	text-align: center;
}

#order-comparison h1 {
    text-align: left;
}

#order-comparison .serverconfig {
    border: 0;
}

#order-comparison .serverconfig table .fieldlabel {
    font-weight: bold;
}

#order-comparison .serverconfig table .fieldlabel {
    font-weight: bold;
}

#order-comparison .serverconfig table .fieldinput {
	width: 200px;
	padding-left: 0;
	padding-right: 0;
}

#order-comparison .serverconfig table .fieldsample {
	text-align: left;
}

#order-comparison .cart_errors {
	text-align: left;
	padding-left: 40px;
}

#order-comparison .cart_errors ul {
	margin: 0;
	padding-left: 40px;
}

#order-comparison .cart_errors ul li {
	list-style-position: outside;
}

#order-comparison .cart_errors p {
	margin: 0;
}

.prod-cats {
	float: right;
	border-right: 1px solid #e1e1e1;
	padding: 20px 0 30px 0;
	text-align: right;
}

.prod-cats li {
	list-style-type: none;
	padding-right: 51px;
	position: relative;	
}

.prod-cats .active {
	background-color: #fcfcfc;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
	padding-right: 51px;
}

.prod-cats .active a,
.prod-cats .active a:hover {
	padding: 6px 7px 7px 0;
	color: #222222;
	font-weight: bold;
}

.prod-cats li a {
	font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding-top: 4px;
	padding-bottom: 5px;
	color: #74739B;
	line-height: 21px;
	display: block;
}

.prod-cats li a:hover {
	text-decoration: none;
	color: #383C70;
}

#order-comparison .currencychooser {
	border-color: #e1e1e1;
	background-color: #fcfcfc;
	border-radius: 2px;
}

#order-comparison .prodtablecol {
	width: 23%;
	text-align: left;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 20px;
	float: none;
}

#order-comparison .prodtablecol.product_features {
	margin-left: 0;
}

#order-comparison .prodtablecol .title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	padding: 10px;
	background-color: #224591;
	color: #fff;
}

#order-comparison .prodtablecol div.aheaderexpandable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 20px;
	padding: 10px;
	border-right: 0;
	min-height: 0;
	text-align: center;
	background: -moz-linear-gradient(top,#1a6cc6 50%,#0354ae 100%);
	background: -ms-linear-gradient(top,#1a6cc6 50%,#0354ae 100%);
	background: -o-linear-gradient(top,#1a6cc6 50%,#0354ae 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,#1a6cc6),color-stop(100%,#0354ae));
	background: -webkit-linear-gradient(top,#1a6cc6 50%,#0354ae 100%);
	background: linear-gradient(top,#1a6cc6 50%,#0354ae 100%);
}

#order-comparison .prodtablecol small {
	font-size: 10px;
}

#order-comparison .prodtablecol .prod-feature {
	padding: 10px 5px;
	border-top: 1px solid #fff;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 16px;
	width: 100%;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
	color: #9D9D9D;
}

#order-comparison .prodtablecol .prod-feature:nth-child(even) {
	background-color: #f5f5f5;
}

#order-comparison .prodtablecol .prod-feature:nth-child(odd) {
	background-color: #EBEBEB;
}

#order-comparison .prodtablecol .order-button {
	padding: 10px 5px;
	border-top: 1px solid #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 100%;
	text-align: center;
	background-color: #fff;
	font-size: 18px;
	line-height: 22px;
	color: #9D9D9D;
}

#order-comparison .prodtablecol .order-button input[type="button"] {
	border-radius: 4px;
	background-color: #4889d1;
	background: -moz-linear-gradient(top,#4889d1 0,#3071b9 100%);
	background: -ms-linear-gradient(top,#4889d1 0,#3071b9 100%);
	background: -o-linear-gradient(top,#4889d1 0,#3071b9 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4889d1),color-stop(100%,#3071b9));
	background: -webkit-linear-gradient(top,#4889d1 0,#3071b9 100%);
	background: linear-gradient(top,#4889d1 0,#3071b9 100%);
	border: solid 1px #0c5eb7;
	color: #fff;
	text-shadow: none;
}

#order-comparison .prodtablecol:hover .prod-feature,
#order-comparison .prodtablecol:hover .order-button {
	background-color: #1a6cc6;
	color: #fff;
}

#order-comparison .prodtablecol:hover .order-button input[type="button"] {
	background: #FFF;
	background: -moz-linear-gradient(top,#FFF 0,#e7e7e7 100%);
	background: -ms-linear-gradient(top,#FFF 0,#e7e7e7 100%);
	background: -o-linear-gradient(top,#FFF 0,#e7e7e7 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top,#FFF 0,#e7e7e7 100%);
	background: linear-gradient(top,#FFF 0,#e7e7e7 100%);
	border: solid 1px #0c5eb7;
	color: #1a6cc6;
}

#order-comparison #feature-legend  {
	float: left;
}

#order-comparison #feature-legend .title,
#order-comparison #feature-legend .aheaderexpandable {
	background-color: #fff;
	background-image: none;
}

.prod-cats-mobile {
	text-align: center;
	margin-bottom: 20px;
	display: none;
}

#whmcsorderfrm .prod-cats-mobile h4 {
	margin-bottom: 5px;
}

#whmcsorderfrm th {
	font-weight: inherit;
	padding: 8px;
}

#whmcsorderfrm table {
	border-spacing: 0;
	border: 1px solid #DDD;
	border-radius: 4px;
}

#order-comparison table tr td {
	border-bottom: 0;
	border-top: 1px solid #ddd;
}

#order-comparison .domainreginput select, .domainregperiod select {
	border: 1px solid #e1e1e1;
	border-radius: 2px;
	padding: 8px 13px 7px 13px;
}

#order-comparison .domainreginput input[type="submit"] {
	font-size: 13px;
	border: 0;
}

#order-comparison .domainreginput {
	border: 0;
}

.prodtablecol .table {
	text-align: center;
}

#whmcsorderfrm .prodtablecol th {
	line-height: 26px;
	font-size: 16px;
	padding: 9px 12px;
	text-align: center;
	font-weight: bold;
}

#order-comparison .prodtablecol .prod-col-price td {
	font-weight: bold;
	padding: 3px 8px;
	color: #36346F;
}

#order-comparison .prodtablecol .prod-col-desc td {
	padding: 10px;
}

.domainoptions {
	text-align: left;
}

#whmcsorderfrm .domainoptions label {
	font-size: 14px;
}

#whmcsorderfrm li {
	list-style-position: inside;
}

#order-comparison .domainconfig {
	border: 0;
}

#order-comparison .table-domain-cart th {
	background-color: #25235F;
	width: 30%;
	color: #fff;
	border: 0;
	border-radius: 0;
	line-height: 23px;
	text-align: right;
}

#order-comparison .table-domain-cart td {
	border: 0;
	text-align: left;
	padding: 8px;
	line-height: 23px;
}

#order-comparison .table-domain-cart tr:first-child th {
	border-radius: 4px 0 0 0;
}

#order-comparison .table-domain-cart tr:last-child th {
	border-radius: 0 0 0 4px;
}

#order-comparison .table-domain-cart .desc {
	display: block;
	font-style: italic;
	font-size: 13px;
}

#order-comparison .table-domain-cart label {
	display: block;
	font-size: 13px;
}

#order-comparison .cartcontainer {
	background-image: none;
	border: 0;
	width: 100%;
}

#order-comparison .billingcycle {
	border: 0;
}

#order-comparison .configtable {
	border: 0;
	font-size: 14px;
	width: 100%;
	border-spacing: 0;
}

#order-comparison .configtable td {
	border: 0;
	background-color: #fff;
}

#order-comparison .configtable td.fieldarea {
	background-color: #fff;
}

#orderfrm .btn {
	border: 0;
	padding: 12px 16px 10px 16px;
}

#order-comparison .viewcartcol1,
#order-comparison .viewcartcol2 {
	float: none;
	width: 100%;
}

#order-comparison .viewcartcol2 textarea {
	border: 1px solid #e1e1e1;
	background-color: #fcfcfc;
	color: #828084;
	border-radius: 2px;
	font-size: 13px;
	padding: 13px;
	line-height: normal;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#order-comparison .viewcartcol2 label {
	font-size: 13px;
}

#order-comparison .domainreginput {
	margin: 0;
	border: 0;
	font-size: inherit;
	text-align: left;
	padding: 0;
	display: inline;
}

#cart_view {
	text-align: left;
}

#cart_view .text-center {
	text-align: center;
}

#cart_view tr th {
	width: 70%;
	border-right: 1px solid #e1e1e1;
}

#cart_view tr th:last-child {
	border-right: 0;
}

#cart_view th {
	text-align: center;
}

#order-comparison #cart_view tr td {
	border-right: 1px solid #ddd;
	padding: 5px 8px;
}

#order-comparison #cart_view tr td:last-child {
	border-right: 0;
}

#cart_view  .cart_qty {
	width: 50px;
	height: 26px;
	padding: 0;
}

#cart_view  .qty_btn {
	cursor: pointer;
	font-size: 14px;
	margin-right: 0;
}

#cart_view  .qty_btn:hover {
	text-shadow: 2px 2px 4px #999;
}

#cart_view  .btn_qty {
	padding: 6px 8px 5px 8px;
}

#whmcsorderfrm #dc_table {
	border: 0;
}

#whmcsorderfrm #dc_table tr:first-child th {
	border: 0;
}

#whmcsorderfrm #dc_table th {
	padding: 8px;
	border-left: 1px solid #e1e1e1;
}

#whmcsorderfrm #dc_table th:first-child {
	border-left: 0;
}

#whmcsorderfrm #dc_table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

#whmcsorderfrm #dc_table td {
	padding: 8px;
}

#whmcsorderfrm #dc_table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

.bcart_prod_title {
	font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.bcart_prod_group {
	opacity: 0.9;
	font-size: 15px;
}

.bcart_prod_name {
	font-size: 17px;
}

.bcart_prod_domain {
	font-size: 13px;
	font-weight: normal;
	opacity: 0.9;
}

.bcart_padding {
	padding-left: 20px;
}

.bcart_prod_subtitle {
	font-weight: bold;
}

.bcart_prod_subtitle .bcart_prod_group {
	opacity: 0.9;
	font-size: 14px;
}

.bcart_prod_subtitle .bcart_prod_name {
	font-size: 15px;
}

#whmcsorderfrm ul.bcart_prod_options{
	padding: 0;
	margin: 0 0 5px 0;
}

ul.bcart_prod_options li {
	list-style-type: none;
}

ul.bcart_prod_options li:before {
	font-family: 'Glyphicons Halflings';
	content: "\e013";
	margin-right: 5px;
	font-size: 12px;
	padding-top: 2px;
	position: relative;
	top: 1px;
	display: inline-block;
}

#whmcsorderfrm .bcart_qty_wrap {
	margin: 0 0 5px 0;
}

.cartedit {
	margin-right: 10px;
	white-space: nowrap;
}

.cartremove {
	white-space: nowrap;
}

.cartedit:before {
	display: inline-block;
	position: relative;
	top: 1px;
	content: "\e065";
	font-family: 'Glyphicons Halflings';
	font-size: 12px;
	margin-right: 5px;
}

.cartremove:before {
	display: inline-block;
	position: relative;
	top: 1px;
	content: "\e020";
	font-family: 'Glyphicons Halflings';
	font-size: 12px;
	margin-right: 5px;
}

#order-comparison #cart_view .summary td:first-child {
	text-align: right;
	color: #006;
}

#order-comparison #cart_view .summary td:last-child {
	font-weight: bold;
	color: #006;
	text-align: center;
}

#whmcsorderfrm  .checkoutbuttonsright p {
	margin: 0;
}

.checkoutbuttonsright span {
	white-space: nowrap;
}

#loginfrm label {
	font-size: 14px;
}

.promo .btn {
	padding: 10px 16px 9px 16px;
}

@media only screen and (max-width: 990px) {
	#order-comparison {
		width: 100%;
		text-align: center;
	}
	
	#order-comparison .currencychooser {
		margin: 0 auto;
		margin-bottom: 20px;
		float: none;
		width: auto;
		display: inline-block;
	}
	
	#order-comparison #feature-legend  {
		display: none;
	}
	
	#whmcsorderfrm .prod-cats {
		display: none;
	}
	
	.prod-cats-mobile {
		display: block;
	}
}
 
@media only screen and (max-width: 768px) {
	#order-comparison .prodtablecol {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	#whmcsorderfrm #dc_table tbody tr:first-child td:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#whmcsorderfrm #dc_table tbody tr:last-child td:first-child {
		border-bottom-left-radius: 0;
	}
	
	#whmcsorderfrm #dc_table tbody tr:last-child td:last-child {
		border-bottom-left-radius: 5px;
	}
}

@media only screen and (max-width: 480px) {
	#order-comparison #cart_view tr th {
		display: none;
	}
	
	#order-comparison #cart_view tr td {
		display: block;
		border-right: 0;
		border-top: 0;
	}
	
	#order-comparison #cart_view tr .bcart_td_price {
		text-align: right;
		border-bottom: 1px solid #e1e1e1;
	}

	#order-comparison #cart_view .summary td:last-child {
		text-align: right;
	}
}

/*
Registration form on the cart page
*/

#signupfrm .controls {
	margin: 10px;
}

#signupfrm .control-label {
	font-size: 12px;
	display: block;
	margin-bottom: 3px;
}

#signupfrm input[type="text"],
#signupfrm input[type="password"],
#signupfrm input[type="email"],
#signupfrm select {
	display: block;
	width: 80%;
}

#signupfrm input[type="text"],
#signupfrm input[type="password"],
#signupfrm input[type="email"] {
	padding: 0 13px;
}

#signupfrm select {
	padding: 8px 13px 7px 13px;
}

#signupfrm span.bcart_reg_custom_desc {
	color: #38334D;
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	padding-left: 0;
	padding-top: 3px;
}

/* Language switcher for products */
#order-comparison .dc_currency_switcher {
	text-align: left;
}

#order-comparison .dc_currency_switcher a {
	color: #14124f;
	text-decoration: underline;	
}

#order-comparison .dc_currency_switcher a:hover {
	color: #992626;
}

/* Products columns */
#order-comparison .dc_product_group {
	text-align: left;
}

#order-comparison .product-row {
	overflow: hidden;
	margin-bottom: 30px;
}

#order-comparison .productfeature-wrap,
#order-comparison .productcol-wrap {
	width: 23%;
	float: left;
}

#order-comparison .productcol-wrap {
	margin-left: 20px;
}

#order-comparison .productfeature-wrap .productfeature-head,
#order-comparison .productcol .productcol-head {
	position: relative;
}

#order-comparison .productfeature-wrap .productfeature-head {
	height: 166px;
	margin-bottom: 10px;
}

#order-comparison .productfeature-wrap .productfeature-head img {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 10px;
	left: 0;
}

#order-comparison .productcol .productcol-head-top {
	height: 95px;
	margin-bottom: 10px;
	background: #44aae1;
	background: -moz-linear-gradient(top,#44aae1 0,#389ed5 100%);
	background: -ms-linear-gradient(top,#44aae1 0,#389ed5 100%);
	background: -o-linear-gradient(top,#44aae1 0,#389ed5 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#44aae1),color-stop(100%,#389ed5));
	background: -webkit-linear-gradient(top,#44aae1 0,#389ed5 100%);
	background: linear-gradient(top,#44aae1 0,#389ed5 100%);
}

#order-comparison .productcol .productcol-head-top  h3 {
	background-color: #224591;
	color: #fff;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 24px;
	text-align: left;
	font-weight: normal;
	margin: 0;
	line-height: 28px;
}

#order-comparison .productcol .productcol-head-bottom {
	height: 50px;
	margin-bottom: 20px;
	background: #69bbe7;
	background: -moz-linear-gradient(top,#69bbe7 0,#57a9d4 100%);
	background: -ms-linear-gradient(top,#69bbe7 0,#57a9d4 100%);
	background: -o-linear-gradient(top,#69bbe7 0,#57a9d4 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#69bbe7),color-stop(100%,#57a9d4));
	background: -webkit-linear-gradient(top,#69bbe7 0,#57a9d4 100%);
	background: linear-gradient(top,#69bbe7 0,#57a9d4 100%);
}

#order-comparison .productcol .productcol-head-circle-wrap {
	position: absolute;
	top: 64px;
	width: 100%;
	text-align: center;
}

#order-comparison .productcol .productcol-head-circle {
	width: 76px;
	height: 72px;
	margin: 0 auto;
	border-radius: 100%;
	background-color: #fff;
	color: #44aae1;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4px;
	line-height: 22px;
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.38) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.38) inset;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.38) inset;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;	
}

#order-comparison .productcol .productcol-head-circle span {
	display: block;
	color: #9d9d9d;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#order-comparison .productfeature .productfeature-title,
#order-comparison .productcol .productcol-feature {
	font-size: 15px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	color: #9d9d9d;
	line-height: 22px;
	padding: 10px 5px;
	border-top: 1px solid #fff;
	display: table;
	overflow: hidden;
	width: 100%;
}

#order-comparison .productfeature .productfeature-title .productfeature-cell-text,
#order-comparison .productcol .productcol-feature .productcol-feature-cell-text {
	display: table-cell;
	vertical-align: middle;
}

#order-comparison .productcol .productcol-feature .productcol-feature-cell-title {
	display: none;
}

#order-comparison .productfeature .productfeature-title-0,
#order-comparison .productcol .productcol-feature-0 {
	font-size: 18px;
}

#order-comparison .productfeature .productfeature-title:nth-child(odd),
#order-comparison .productcol .productcol-feature:nth-child(odd) {
	background-color: #f5f5f5;
}

#order-comparison .productfeature .productfeature-title:nth-child(even),
#order-comparison .productcol .productcol-feature:nth-child(even) {
	background-color: #ebebeb;
}

#order-comparison .productfeature .productfeature-footer,
#order-comparison .productcol .productcol-footer {
	height: 67px;
}

#order-comparison .productfeature .product-button,
#order-comparison .productcol .product-button {
	background: #69bbe7;
	background: -moz-linear-gradient(top,#69bbe7 0,#51a3cf 100%);
	background: -ms-linear-gradient(top,#69bbe7 0,#51a3cf 100%);
	background: -o-linear-gradient(top,#69bbe7 0,#51a3cf 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#69bbe7),color-stop(100%,#51a3cf));
	background: -webkit-linear-gradient(top,#69bbe7 0,#51a3cf 100%);
	background: linear-gradient(top,#69bbe7 0,#51a3cf 100%);
	border: solid 1px #3da3da;
	color: #fff;
	padding: 0 8px;
	font-size: 18px;
	line-height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
	height: 29px;
	display: inline-block;
	margin-top: 18px;
	transition: margin-top 0.2s linear;
}

#order-comparison .productcol-footer-img {
	background: url(../images/shadow_1.png) 50% 100% no-repeat;
	background-size: 100% 23px;
	height: 23px;
	opacity: 0.4;
}

#order-comparison .productcol:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px -2px;
	transition: box-shadow 0.2s linear;
}

#order-comparison .productcol:hover .productcol-footer a {
	margin-top: 50px;
}

#order-comparison .productcol:hover .productcol-feature {
	color: #333;
}

#order-comparison .productcol:hover .productcol-footer {
	height: 130px;
}

#order-comparison .product-button:hover,
#order-comparison .product-button:active,
#order-comparison .product-button:focus {
	text-decoration: none;
}

#order-comparison .product-button:hover {
	background: #51a3cf;
	background: -moz-linear-gradient(bottom,#69bbe7 0,#51a3cf 100%);
	background: -ms-linear-gradient(bottom,#69bbe7 0,#51a3cf 100%);
	background: -o-linear-gradient(bottom,#69bbe7 0,#51a3cf 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#69bbe7),color-stop(100%,#51a3cf));
	background: -webkit-linear-gradient(bottom,#69bbe7 0,#51a3cf 100%);
	background: linear-gradient(bottom,#69bbe7 0,#51a3cf 100%);
}

@media only screen and (max-width: 1140px) {
	#order-comparison .productfeature .product-button {
		height: auto;
	}
}

@media only screen and (max-width: 620px) {
	#order-comparison .productfeature-wrap {
		display: none;
	}

	#order-comparison .productcol .productcol-feature .productcol-feature-cell-title {
		display: inline;
	}
}

/* Detailed features tabs */
#order-comparison .dc_feature_tab {
	border: 1px solid #e1e1e1;
	border-bottom: 0;
}

#order-comparison .dc_feature_tab:last-child {
	border-bottom: 1px solid #e1e1e1;
}

#order-comparison .dc_feature_tab_title {
	text-align: left;
	line-height: 26px;
	padding: 9px 3px 9px 10px;
	cursor: pointer;
}

#order-comparison .dc_feature_tabs .inactive .dc_feature_tab_title:hover {
	background-color: #fcfcfc;
}

#order-comparison .dc_feature_tabs .active {
	margin-bottom: 5px;
}

#order-comparison .dc_tab_icon {
	color: #e1e1e1;
	font-size: 22px;
	font-weight: bold;
	border: 1px solid #e1e1e1;
	line-height: 14px;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	text-align: center;
	display: none;
	margin-right: 10px;
}

#order-comparison .dc_feature_tabs .active .dc_tab_icon_minus {
	display: inline-block;
}

#order-comparison .dc_feature_tabs .inactive .dc_tab_icon_plus {
	display: inline-block;
}

#order-comparison .dc_feature_tab_content {
	background-color: #fcfcfc;
	padding: 42px 30px 11px 30px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#order-comparison .inactive .dc_feature_tab_content {
	display: none;
}

#order-comparison .dc_feature_table {
	list-style: none;
 	display: block;
	float: left;
	margin: 10px;
	width: 19%;
	padding: 0;
}

#order-comparison .dc_feature_captions {
	width: 33%;
}

#order-comparison .dc_feature_table.dc_feature_captions li {
	text-align: left;
}

#order-comparison .dc_feature_table.dc_feature_captions li:first-child {
	text-align: center;
}

#order-comparison .dc_feature_table li {
	text-align: center;
	padding: 9px 12px;
	line-height: 26px;
	border: 1px solid #e1e1e1;
	border-top: 0;
}

#order-comparison .dc_feature_table li:nth-child(even) {
	background-color: #fff;
	color: #828084;
}

#order-comparison .dc_feature_table li:nth-child(odd) {
	background-color: #fcfcfc;
	color: #38334D;
}

#order-comparison .dc_feature_table li:first-child {
	background-color: #25235F;
	color: #fff;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#order-comparison .dc_feature_table li .feature_title {
	display: none;
}

#whmcsorderfrm #order-comparison .dc_feature_table li:last-child {
	border-bottom: 1px solid #e1e1e1;
 	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}


@media only screen and (max-width: 620px) {
	#order-comparison .dc_feature_table.dc_feature_captions {
		display: none;
	}
	
	#order-comparison .dc_feature_table {
		float: none;
		width: 100%;
	}

	#order-comparison .dc_feature_table li .feature_title {
		display: inline;
	}
	
	#order-comparison .dc_feature_tab_content {
		padding: 10px;
	}
}
