

{if $pagetitle eq $LANG.carttitle}</div>{/if}

		{if $pagetitle eq $LANG.carttitle}</div>{/if}
		</div>
	</div>
</div>

<footer>
	<div class="container-fluid footer-wrap">
		<div class="container">
			<div class="row footer-row">
				{if $langchange}<div id="languagechooser">{$setlanguage}</div>{/if}
				<div id="copyright">&copy; {$LANG.copyright} - <a href="http://best-seo-hosting.com/">{$companyname}</a></div>
			</div>
		</div>
	</div>
</footer>

{$footeroutput}

</body>
</html>