/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */
@import "gi-domain-search.css";
@import "gi-domain.css";
@import "gi-welt-der-domains.css";
@import "gi-tld-header.css";

/* Basis Typografie und Definition von p */

body {
		font: 16px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-text-size-adjust: 100%;
 }
  
 /* Modifikation des Main-Menus - Balken dicker */

.avia-menu-fx {
    bottom: -1px;
    height: 8px;
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

 /* Erweiterte Definition der Headlines */

	h1 { font-size: 34px; line-height: 1.1em; margin-bottom: 20px; margin-top:25px; color: #3B3194;}
	h2 { font-size: 28px; line-height: 1.1em; margin-bottom: 20px; margin-top:25px;	}
	h3 { font-size: 20px; line-height: 1.1em; margin-bottom: 8px; margin-top:25px;} /*28*/
	h4 { font-size: 18px; line-height: 1.1em; margin-bottom: 4px; margin-top:5px;} /*21*/
	h5 { font-size: 16px; line-height: 1.1em; }						/*17*/
	h6 { font-size: 14px; line-height: 1.1em; } 

 /* Erweiterte Definition des Footers */

#footer{
				padding:0px 0 15px 0;
		  	font-size: 12px;			
}

#footer .widgettitle {
      	font-size: 14px;}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}