#dpi_progress {
	display: none;
}

#dpi_progress img{
	display: block;
	float: left;
}

#dpi_progress span {
	display: block;
	float: left;
	margin-left: 10px;
	font-weight: bold;
	line-height: 32px;
}

.dpi_table th {
	text-align: left;
}

.dpi_table td {
	padding-right: 20px;
}

.dpi_table th,
.dpi_table td {
	border-bottom: 1px dotted #000;
}

.dpi_table.dpi_confirm tr th,
.dpi_table.dpi_confirm tr td:nth-child(2),
.dpi_table.dpi_confirm tr:last-child td {
	border: 0;
}

.dpi_table.dpi_confirm tr th:nth-child(2),
.dpi_table.dpi_confirm tr td:nth-child(2) {
	padding-left: 20px;
}
